# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data
!data/README.md

# Mac
.DS_Store

# Logs
*.logdata/**/*.npy
data/**/*.pkl
.streamlit/secr
data/derived_*/*.npy

thesis_output/*.docx
